*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    width: 50vw;
    height: 50vh;
    margin-top: 10vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#lastContent,#translateResult{
    border: 1px solid orange;
    width: 100%;
    height: 15vh;
    margin-top: 6px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: orange;
}
.input{
    align-self: center;
}
#translateContent{
    height: 2em;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 4px;
}
